body {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div {
    margin: 1em;
}
button {
    padding: 1em;
    margin: 1em;
    border: none;
    border-radius: 5px;
}
#increment, #decrement {
    font-size: 1.5em;
}

#increment {
    background-color: green;
}

#decrement {
    background-color: red;
}

#save {
    background-color: steelblue;
    /* color: white; */
}

#reset {
    background-color: steelblue;
    /* color: white; */
}